html,body {
  margin:0;
  padding:0;
  font-family: "Open Sans", sans-serif;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.resize{
  width: 220px;
  height: 272px;
}
.resizelogo{
  width: 300px;
}
.fattext{
  font-weight: bold;
}
.logodebut::before{
  content: "";
  height: 2rem;
  width: 107px;
  background-image: url(/assets/img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bgbutton{
  background-color: orange;
}
 .petitlogo{
  width: 120px;
}
.petitlogo1{
  width: 95px;
}
.petitlogo3{
  width: 150px;
}
.bgbleu{
  background-color:#165882;
}
.centered>button{
  min-width: 125px;
}
